NOTION_API_TOKEN=ntn_your_token_here
NOTION_API_VERSION=2026-03-11
WEBHOOK_SIGNING_SECRET=whsec_your_secret_here
GEMINI_API_KEY=your_gemini_key_here
SERVER_PORT=8000
WEBHOOK_PATH_SECRET=change_this_to_random_string
